<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="!isOpenedSearchBar">
      Clientes
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!isOpenedSearchBar" (click)="isOpenedSearchBar=true">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar showCancelButton="true" *ngIf="isOpenedSearchBar" (ionCancel)="isOpenedSearchBar=false" animated
      placeholder="Procure os clientes"></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Clientes</ion-title>

    </ion-toolbar>
  </ion-header>

  <ion-list *ngFor="let client of listOfClients">
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img src="{{client.img_src}}"></ion-img>
      </ion-thumbnail>
      <ion-label>{{client.name}}
        <ion-text>
          <p>{{client.phone}}</p>
        </ion-text>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="openClientDetail(client.id)">
          <ion-icon name="arrow-forward-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddClientPage()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>