<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pagamentos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pagamentos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary">Últimos 7 Dias</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      R$ 765,40
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary">Últimos 30 Dias</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      R$ 2.765,40
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="danger">Em atraso</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      R$ 457,90
    </ion-card-content>
  </ion-card>
</ion-content>