<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>ID {{clientInfo.id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="selectedTab">
    <ion-segment-button value="info">
      <ion-label>Info</ion-label>
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="recipe">
      <ion-label>Consulta</ion-label>
      <ion-icon name="newspaper-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="payments">
      <ion-label>Carnê</ion-label>
      <ion-icon name="cash-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="orders">
      <ion-label>OS</ion-label>
      <ion-icon name="receipt-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectedTab === 'info' ">
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input readonly>{{clientInfo.name}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Filiação</ion-label>
      <ion-input readonly>{{clientInfo.affiliation}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Data de Nascimento</ion-label>
      <ion-input readonly>{{clientInfo.birthdate}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">CPF</ion-label>
      <ion-input readonly>{{clientInfo.document_id1}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">RG</ion-label>
      <ion-input readonly>{{clientInfo.document_id2}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Telefone 1</ion-label>
      <ion-input readonly>{{clientInfo.phone1}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Telefone 2</ion-label>
      <ion-input readonly>{{clientInfo.phone2}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Telefone 3</ion-label>
      <ion-input readonly>{{clientInfo.phone3}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input readonly>{{clientInfo.email}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Endereço</ion-label>
      <ion-input readonly>{{clientInfo.street}}, {{clientInfo.number}} {{clientInfo.number_complement}},
        {{clientInfo.reference}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Bairro</ion-label>
      <ion-input readonly>{{clientInfo.neighborhood}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Cidade</ion-label>
      <ion-input readonly>{{clientInfo.city}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Estado</ion-label>
      <ion-input readonly>{{clientInfo.state}}</ion-input>
    </ion-item>
  </div>

  <div *ngIf="selectedTab === 'payments' ">
    <p>Payments</p>
  </div>
  <div *ngIf="selectedTab === 'recipe' ">
    <ion-list lines="none" *ngFor="let recipe of recipeList">
      <div class="recipe-container">
        <ion-item>
          <ion-label position="stacked">Data de registro</ion-label>
          {{recipe.created_at | date: 'dd/MM/yy'}}        
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Oftamologista</ion-label>
          {{recipe.ophthalmologist}}        
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Olho Direito</ion-label>
          Esf. {{recipe.re_espherical}}, Cil. {{recipe.re_cilidrical}}, Eixo {{recipe.re_axis}}, DNP {{recipe.re_pd}}        
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Olho Esquerdo</ion-label>
          Esf. {{recipe.le_espherical}}, Cil. {{recipe.le_cilidrical}}, Eixo {{recipe.le_axis}}, DNP {{recipe.le_pd}}
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Adicional</ion-label>
          {{recipe.additional}}
        </ion-item>
      </div>
    </ion-list>
  </div>
  <div *ngIf="selectedTab === 'orders' ">
    <p>Orders</p>
  </div>

</ion-content>