<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>ID {{clientInfo.id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container-options-cards">
    <ion-button size="small" shape="round" fill="outline">Consultas</ion-button>
    <ion-button size="small" shape="round" fill="outline">Pagamentos</ion-button>
    <ion-button size="small" shape="round" fill="outline">Compras</ion-button>
  </div>
  <ion-item>
    <ion-label position="stacked">Nome</ion-label>
    <ion-input readonly>{{clientInfo.name}}</ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Filiação</ion-label>
    <ion-input readonly>{{clientInfo.affiliation}}</ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Data de Nascimento</ion-label>
    <ion-input readonly>{{clientInfo.birthdate}}</ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">CPF</ion-label>
    <ion-input readonly>{{clientInfo.document_id1}}</ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">RG</ion-label>
    <ion-input readonly>{{clientInfo.document_id2}}</ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Telefone 1</ion-label>
    <ion-input readonly>{{clientInfo.phone1}}</ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Telefone 2</ion-label>
    <ion-input readonly>{{clientInfo.phone2}}</ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Telefone 3</ion-label>
    <ion-input readonly>{{clientInfo.phone3}}</ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input readonly>{{clientInfo.email}}</ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Endereço</ion-label>
    <ion-input readonly>{{clientInfo.street}}, {{clientInfo.number}} {{clientInfo.number_complement}},
      {{clientInfo.reference}}</ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Bairro</ion-label>
    <ion-input readonly>{{clientInfo.neighborhood}}</ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Cidade</ion-label>
    <ion-input readonly>{{clientInfo.city}}</ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Estado</ion-label>
    <ion-input readonly>{{clientInfo.state}}</ion-input>
  </ion-item>
</ion-content>