<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>ID {{clientInfo.id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-label>Nome
    <p>{{clientInfo.name}}</p>
  </ion-label>
  <ion-label>Filiação
    <p>{{clientInfo.affiliation}}</p>
  </ion-label>
  <ion-label>Data de Nascimento
    <p>{{clientInfo.birthdate}}</p>
  </ion-label>
  <ion-label>CPF
    <p>{{clientInfo.document_id1}}</p>
  </ion-label>
  <ion-label>RG
    <p>{{clientInfo.document_id2}}</p>
  </ion-label>
  <ion-label>Telefone 1
    <p>{{clientInfo.phone1}}</p>
  </ion-label>
  <ion-label>Telefone 2
    <p>{{clientInfo.phone2}}</p>
  </ion-label>
  <ion-label>Telefone 3
    <p>{{clientInfo.phone3}}</p>
  </ion-label>
  <ion-label>Email
    <p>{{clientInfo.email}}</p>
  </ion-label>
  <ion-label>Endereço
    <p>{{clientInfo.street}}, {{clientInfo.number}} {{clientInfo.number_complement}}, {{clientInfo.reference}}</p>
  </ion-label>
  <ion-label>Bairro
    <p>{{clientInfo.neighborhood}}</p>
  </ion-label>
  <ion-label>Cidade
    <p>{{clientInfo.city}}</p>
  </ion-label>
  <ion-label>Estado
    <p>{{clientInfo.state}}</p>
  </ion-label>



</ion-content>